
.main{
  width: 50%;
  margin: 0 auto;
}

.container{
  display: flex;
  background-color:lightgreen;
}

.box{
    height: 60px;
    width: 100px;
    background-color: yellow;
    margin: 10px;
  }

.flex-container1 {
    flex-direction:row;
  }

.flex-container2 {
    flex-direction:row-reverse;
  }
  

  .flex-container3 {
    justify-content: center;
  }
  

  .flex-container4 {
    justify-content:space-evenly;
  }
  
  .flex-container5 {
    justify-content: space-around;
  }

  .flex-container6 {
    align-items: center;
  }

  .flex-container7 {
    align-items: flex-end;
  }
  
  
  .small{
    height: 30px;
  }
  .medium{
    height: 50px;
  }

  
  
  
  
  


